/*dùng cho tất cả html */
/*bao gồm header và footer dùng chung trong các trang html khác*/
*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media screen and (max-width:800px){

}

/*MENUHEAD*/
#topheader{
    background-color: black;
    width: 100%;
    height: 40px;
    position: relative;
    justify-content: center;
}
#topheader p{
    position: relative;
    color: white;
    text-align: center;
    padding: 8px 0 0 0 ;
}

header{
    background-color: #1B2021; 
    max-height: 90px;
}
#mainmenu{
    padding: 0 70px 0 70px;
    background-color: #1B2021;
    box-shadow: 0px 0px 10px 0px #1B2021;
    display: flex;
    justify-content: space-between;
}
#mainmenu div{
    position: relative;
    padding: 2px 0 0 74px;
    width: 300px; 
    max-height: 100x; 
    filter: invert(100%);
}
#mainmenu div img{
    object-fit: cover;
    width: 300px;
    height: 100px;
}
#nav-list{
    max-width:40%;
    float: left;
}
#nav-list li{
    display: inline-flex;
}
#nav-list li a {
color: rgb(255, 243, 243) ;
text-decoration: none;
line-height: 48px;
padding: 30px 30px;
display: inline  ;
font-size: 20px;
}
#nav-list li a:hover {
text-decoration: underline;
background-color: #111414;
}

#nav-list-2{
    max-width: 45%;
    float:right;
}
#nav-list-2 li{
    display: inline-flex;
}
#nav-list-2 li a{
    color: rgb(255, 243, 243);
    text-decoration: none;
    line-height: 48px;
    padding: 30px 30px;
    display: inline;
    font-size: 20px;
}
#nav-list-2 li a img {
    filter: invert(100%);
    width: 250X; 
    height: 20px; 
    object-fit: cover;
    padding: 7px 10px 0 0;
}
#nav-list-2 li a:hover {
text-decoration: underline;
background-color: #111414;
}
/*Tìm kiếm*/
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
    
}
.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
    left: 10%;
}
/*nút mở*/
.openBtn {
    background: #1B2021;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(255, 243, 243);
    text-decoration: none;
    display: inline;
    font-size: 20px;
}
  
.openBtn:hover {
    background: #111414;
}
  
/* tắt tìm kiếm */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}
  
.overlay .closebtn:hover {
    color: #ccc;
    width: 100%;
    align-items: center;
}
/**/
.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}
.overlay input[type=text]:hover {
    background: #f1f1f1;
}
/* footer */
footer{
    width: 100%;
    margin-top: 200px;
    background-color: #1B2021;
    display: inline-flex;
    flex-direction: row;
}
#footer-info{
    position: relative;
    width: 90%;
    justify-content: space-around;
}
.footer div table{
    position: relative;
    left: 10%;
    color: white;
    text-align: left;
    padding: 150px 0;
}
.footer div table th h1{
    padding:10px 0 10px 0px
}
.footer div table th h2{
    padding:10px 0 10px 50px
}
.footer div a{
    text-decoration: none;
    color: #F7F0F5;
    
}

.footer div a:hover{
    color: #27577e;
    
}
#googlemap{
    float: right;
    opacity: 50%;
    padding: 40px 30px 30px 30px;
}
#googlemap:hover{
    opacity: 100%;
    padding: 40px 30px 30px 30px;
    
    
}