/*BANNER*/
/*WARENTY*/
#nav-w {
    position: relative;
    background-color: #8F857D;
    height: 80px;
    padding: 10px;
    text-align: center;
    margin-top: 0px ;
    box-shadow: 10px 0px 10px 0px #8F857D;
}
#nav-w li{
    display: inline-block;
    filter:  invert(100%);
}

#nav-w li p{
    background-size: cover;
    padding: 0 70px 0 70px;
}
#nav-w li img{
    width: 40px;
    height: 40px;
    align-content: center   ;
}
/*product*/
#nav-select{
    text-align: center;
    padding: 0 20% 0 20%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}
#nav-select a{
    text-decoration: none;
    color: #F7F0F5  ;
}
#nav-select p{
    text-decoration: NONE;
    background-color: #5C5552;
    height: 40px;
    width: 20%;
    padding: 10px ;
    margin: 30px;
    box-shadow: 10px 10px 10px 0px #8F857D;
}
#nav-select p:hover{
    text-decoration: NONE;
    background-color: #5C5552;
    height: 40px;
    width: 20%;
    padding: 10px ;
    margin: 30px;
    box-shadow: 10px 10px 10px 0px #8F857D;
}
/* Lưới sản phẩm */
.product-list{
    position: relative;
    width: 90%;
    left:10%
}
.product-list li{
    display: inline;
}
.product-list-content{
    box-shadow: 10px 10px 8px #888888;
    width: 90%;
    position: absolute;
    margin: 0 auto;
    top: 50px;
    left: 5%;
    background-color: white;

}
.item{
    width: 260px;
    height: 260px;
    background-color: rgba(247, 240, 245,  0.4);
    margin: 10px;
    
}
.item img{
    height: 260px;
    width: 260px;
    object-fit: fill;
}
.item p{
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}

#info1 {
    font-size: 18px;
}
#info1 a{
    text-decoration: none;
    color: black;
}
#info1 a:hover{
    text-decoration: underline;
    color: black;
}
#info2 {
    font-size: 28px;
    font-style: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#info3 {
    font-size: 17px;
}


.item-rowlist{
    display: flex;
    justify-content: center;
    height: 360px;
}
/* Banner  */
#banner2{
    background-color: rgba(247, 240, 245,  0.4);
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    width: 60%;
    height: 300px;
    display: inline-flex;
    left: 20%;
    justify-content: center;
}
#inbanner2{
    height: 300px;
    padding: 0px 0px 0px 50px
}
#inbanner2 img{
    height: 300px
}
#txbanner2{
    padding: 50px 0 0 50px ;
    text-decoration: none;
    width: 450px;
    height: 300px;
    align-content: center;
}
#txbanner2 h1{
    text-decoration: none;
}
#txbanner2 h2{
    padding:30px 0  30px 30px;
    text-decoration: none;
    font-size: 17px;
}
#txbanner2 a{
    padding:0 0 0 250px;
    text-decoration: none;
    text-align: right;
}
#txbanner2 a:hover{
    text-decoration: underline;
}
#banner3{
    background-color: rgba(247, 240, 245,  0.4);
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    width: 60%;
    height: 300px;
    display: inline-flex;
    left: 20%;
    justify-content: center;
}
#inbanner3{
    height: auto;
    padding: 0px 0px 0px 100px
}
#inbanner3 img{
    height: 300px
}
#txbanner3{
    padding: 50px 0 0 50px ;
    text-decoration: none;
    width: 550px;
    height: 300px;
    align-content: center;
}
#txbanner3 h1{
    text-decoration: none;
    text-align: right;
}
#txbanner3 h2{
    padding:30px 0  30px 30px;
    text-decoration: none;
    font-size: 16px;
    text-align: right;
}
#txbanner3 a{
    padding:0 0 0 0px;
    text-decoration: none;
    text-align: right;
}
#txbanner3 a:hover{
    text-decoration: underline;
}